
.d-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 1px;
  column-gap: 1px;
  height: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.g-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  text-align: center;
  padding: 1rem 0;
  font-size: 3rem;
}

.white {
  background-color: #ddd;
  color: black;
}

.gray {
  background-color: #444;
  color: white;
}

.orange {
  background-color: orangered;
  color: black;
}
