nav {
  justify-content: space-between;
  margin: 1rem auto;
}

li {
  border-right: 1px solid black;
  background-color: gray;
  color: white;
  justify-content: center;
  align-items: center;
}

li:hover {
  background-color: black;
  color: white;
}

li:last-of-type {
  border-right: none;
}

a {
  height: 100%;
  width: 100%;
  color: white;
  text-align: center;
  display: inline-block;
  margin: auto 1rem;
  padding-top: 1.5rem;
}
